@import url("https://fonts.googleapis.com/css?family=Work+Sans");
body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
    color: purple;
    background-color: azure;
}